{% extends 'store/base.html' %}
{% load static %}

{% block title %} Избранные {% endblock %}

{% block main %}
<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Избранные товары</h1>
                    </div>
                    <hr class="my-4">
    
                    {% for item in items_favorite %}
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-3 col-xl-2">
                            <img
                                src="{% static 'images/'%}{{item.product.photo}}"
                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">{{ item.product.name }}</h6>
                            <h6 class="text-black mb-0">{{ item.product.name }}</h6>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">{{ item.price }} ₽</h6>
                            </div>
                            <div class="col-md-1 col-lg-3 col-xl-1 text-end">
                            <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    {% endfor %}
  
                    <hr class="my-4">
  
                    <div class="pt-5">
                      <h6 class="mb-0"><a href="{% url 'index' %}" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Назад в магазин</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
