{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SWAG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
</head>

<body>
    <!-- Navbar -->
  <div class="container navbar-custom p-4">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://sun1-87.userapi.com/c636325/v636325756/66b62/JgTJW-aqKbk.jpg?ava=1" alt="" width="75" height="75">
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto text-center">
            <a class="nav-link" aria-current="page" href="">Главная</a>
            <a class="nav-link" href="">Товары</a>
            <a class="nav-link" href="">Услуги</a>
            <a class="nav-link" href="">Новости</a>
            <a class="nav-link" href="">Контакты</a>
            <a class="nav-link" href="">О нас</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- Header -->
  <header>
        <div class="swag-header">
            <img class='header-img' src="http://sun9-39.userapi.com/c831408/v831408045/159496/6RA0pDoiYws.jpg" alt="" />
            <div class="header-content">
                <h1>SWAG Аниме и К-рор товары Улан-Удэ</h1>
                <h3>Группа для города Улан-Удэ</h3>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Позвонить</a>
            </div>
        </div>
  </header>


  <!-- Products -->
  <section id='products'>
    <h2 class="text-center pb-4">Наши товары</h2>
    <div class="container container-box">
        <div class="row">
        {% if categories %}
            {% for category in categories %}
                <div class="card col-lg-3 col-md-6">
                    <div class="card-body text-center">
                    <img src="{{ category.photo }}" width='200px' height='200px' alt="">
                    <h4 class="card-title"> {{category.name}} </h4>
                    <p class="text-muted">От {{category.start_price}} рублей</p><a class="btn btn-outline-primary btn-sm" href="#" data-abc="true">Смотреть товары</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <p>No polls are available.</p>
        {% endif %}
        </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section id="testimonials">
    <h2 class="text-center pb-4">Отзывы о нас</h2>
    <div class='container container-box mx-auto mt-5 col-md-10 col-11'>
      <div class="row" style="justify-content: center">
          <div class="card col-md-3 col-11">
              <div class="card-content">
                  <div class="card-body p-0">
                      <div class="profile mb-4 mt-3"> <img src="https://i.imgur.com/Ur43esv.jpg"> </div>
                      <div class="card-subtitle">
                          <p> <small class="text-muted">Cегодня в первые покупала в вашем магазине. Очень растерялась. Но, благодаря персоналу пришла в норму) Помогли найти нужный товар. Милые в общении и консультант и продавец, доброжелательны) Домой приехала радостная) Всё на высшем уровне, совершать покупки целое удовольствие💜 <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                      </div>
                      <div class="card-body company"><small class="intro text-muted">Какой-то еблан</small> </div>
                  </div>
              </div>
          </div>
          <div class="card col-md-3 col-11 second">
              <div class="card-content">
                  <div class="card-body p-0">
                      <div class="profile mb-4 mt-3"> <img src="https://i.imgur.com/8RKXAIV.jpg"> </div>
                      <div class="card-subtitle">
                          <p> <small class="text-muted"> В августе покупала японскую школьную форму)
                            Всё отлично была бы возможность я бы подружилась с продавцом)
                            Спасибо что вы есть🥰 <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                      </div>
                      <div class="card-body company"><small class="intro text-muted">Какой-то еблан</small> </div>
                  </div>
              </div>
          </div>
          <div class="card col-md-3 col-11 third">
              <div class="card-content">
                  <div class="card-body p-0">
                      <div class="profile mb-4 mt-3"> <img src="https://i.imgur.com/J6l19aF.jpg"> </div>
                      <div class="card-subtitle">
                          <p> <small class="text-muted"> Притензий нет, все отлично. Большой ассортимент, консультация и общение с продавцами на высшем уровне, одно удовольствие покупать  <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                      </div>
                      <div class="card-body company"><small class="intro text-muted">Какой-то еблан</small> </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
  

  <!-- Location -->
  <h2 class="text-center pb-4">Как нас найти</h2>
  <div class="location container container-box">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2465.884283485922!2d107.58759051596334!3d51.826544295138866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5dafdb498893794f%3A0x3847e83ef2f9316b!2zU1dBRywg0LzQsNCz0LDQt9C40L0g0YHQstC40YLRiNC-0YLQvtCy!5e0!3m2!1sru!2sru!4v1635661125722!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>


  <!-- FOOTER -->
  <footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-4">
                <h5 class="h1 text-white">SWAG</h5>
                <p class="small text-muted">Аниме магазин в Улан-Удэ. 2021.</p>
                <p class="small text-muted mb-0">&copy; Все права защищены</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h5 class="text-white mb-3">Социальные сети</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#">Инстаграм</a></li>
                    <li><a href="#">Вконтакте</a></li>
                    <li><a href="#">Тикток</a></li>
                </ul>
            </div>
          
            <div class="col-lg-4 col-md-4">
              <h5 class="text-white mb-3">Позвонить</h5>
              <ul class="list-unstyled text-muted">
                  <li><a href="#">📞 +7-902-537-97-99 </a></li>
              </ul>
          </div>
        </div>
    </div>
</footer>
 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>