{% extends 'store/base.html' %}
{% load static %}

{% block title %} 
    SWAG - Главная
{% endblock %}

{% block main %}
  <!-- Products -->
  <section id='products'>
    <h2 class="text-center pb-4">Наши товары</h2>
    <div class="container container-box">
        <div class="row">
        {% if categories %}
            {% for category in categories %}
                <div class="card col-lg-3 col-md-6">
                    <div class="card-body text-center">
                    <img src="{% static 'images/'%}{{category.photo}}" width='200px' height='200px' alt="">
                    <h4 class="card-title"> {{category.name}} </h4>
                    <p class="text-muted">От {{category.start_price}} рублей</p><a class="btn btn-outline-primary btn-sm" href="{% url 'products' category.id %}" data-abc="true">Смотреть товары</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <p>No polls are available.</p>
        {% endif %}
        </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section id="testimonials">
    <h2 class="text-center pb-4">Отзывы о нас</h2>
    <div class='container container-box mx-auto mt-5 col-md-10 col-11'>
      <div class="row" style="justify-content: center">
          <div class="card col-md-3 col-11">
              <div class="card-content">
                  <div class="card-body p-0">
                      <div class="card-subtitle">
                          <p> <small class="text-muted">Cегодня в первые покупала в вашем магазине. Очень растерялась. Но, благодаря персоналу пришла в норму) Помогли найти нужный товар. Милые в общении и консультант и продавец, доброжелательны) Домой приехала радостная) Всё на высшем уровне, совершать покупки целое удовольствие💜 <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                      </div>
                      <div class="card-body company"><small class="intro text-muted">Какой-то еблан</small> </div>
                  </div>
              </div>
          </div>
          <div class="card col-md-3 col-11 second">
              <div class="card-content">
                  <div class="card-body p-0">
                      <div class="card-subtitle">
                          <p> <small class="text-muted"> В августе покупала японскую школьную форму)
                            Всё отлично была бы возможность я бы подружилась с продавцом)
                            Спасибо что вы есть🥰 <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                      </div>
                      <div class="card-body company"><small class="intro text-muted">Какой-то еблан</small> </div>
                  </div>
              </div>
          </div>
          <div class="card col-md-3 col-11 third">
              <div class="card-content">
                  <div class="card-body p-0">
                      <div class="card-subtitle">
                          <p> <small class="text-muted"> Притензий нет, все отлично. Большой ассортимент, консультация и общение с продавцами на высшем уровне, одно удовольствие покупать  <i class="fas fa-quote-left fa-flip-horizontal"></i> </small> </p>
                      </div>
                      <div class="card-body company"><small class="intro text-muted">Какой-то еблан</small> </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
  

  <!-- Location -->
  <h2 class="text-center pb-4">Как нас найти</h2>
  <div class="location container container-box">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2465.884283485922!2d107.58759051596334!3d51.826544295138866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5dafdb498893794f%3A0x3847e83ef2f9316b!2zU1dBRywg0LzQsNCz0LDQt9C40L0g0YHQstC40YLRiNC-0YLQvtCy!5e0!3m2!1sru!2sru!4v1635661125722!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
{% endblock %}