{% extends 'store/base.html' %}
{% load static %}


{% block title %} 
    {{ product.name }}
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <img class="product-detail-photo" src="{% static 'images/'%}{{product.photo}}" alt="" width="400">
            </div>
        
            
            <div class="col-lg-4 p-3">
                <ul class="list-group">
                    <li class="list-group-item"><span class="text-muted">Категория:</span> <span>{{ product.category }}</span></li>
                    {% for key, value in product.features|get_items %}
                        <li class="list-group-item"><span class="text-muted">{{ key }}: </span> <span>{{ value }}</span></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-4 p-3">
                <p class="product-price">{{ product.price }} <i class="fas fa-ruble-sign"></i> </p>
                <button type="button" class="btn btn-danger">Добавить в корзину</i></button>
                <button type="button" class="btn btn-danger"><i class="fas fa-heart"></i></button>
            </div>


            <div class="text-center">
                <h3>Оцените товар</h3>
     

                <form action="{% url 'add_rating' %}" method="post" name="rating">
                    <b>Рейтинг:</b>
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.id }}" name="product">
                    <span class="rating">
                        {% for k, v in star_form.fields.star.choices %}
                            <input id="rating{{ v }}" type="radio" name="star"
                                    value="{{ k }}">
                            <label for="rating{{ v }}">{{ k }}</label>
                        {% endfor %}
                    </span>
                </form>
            </div>

            <div class="container description-detail-product">
                <h2>Описание</h2>
                <p>{{product.description}}</p>
            </div>
        </div>
    </div>


    <div class="container">
        <h2>Отзывы ({{ comments|length }})</h1>
        <div class="be-comment-block">
            
            {% for comment in comments %}
                <div class="be-comment">
                    <div class="be-img-comment">	
                        <a href="blog-detail-2.html">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                        </a>
                    </div>
                    <div class="be-comment-content">
                        
                            <span class="be-comment-name">
                                <a href="blog-detail-2.html">{{ comment.author }}</a>
                                </span>
                            <span class="be-comment-time">
                                <i class="fa fa-clock-o"></i>
                                {{ comment.pub_date }}
                            </span>
            
                        <p class="be-comment-text">
                            {{ comment.content }}
                        </p>
                    </div>
                </div>

            {% endfor %}

            
            <form class="form-block post-form" action="{% url 'add_comment' %}" method="POST" name='comment'>
                <input type="hidden" value="{{ product.id }}" name="product">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12">									
                        <div class="form-group">
                            <h4 class="text-muted">Написать комментарий</h1>
                            {% if user.is_authenticated %}
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <textarea name='content' class="form-control" id="message" placeholder="Ваш комментарий" required=""></textarea>
                                </div>
                                <button type="submit" class="btn btn-danger">Отправить комментарий</i></button>
                                
                            {% else %}
                                Чтобы писать комментарии, необходимо войти
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Add star rating
        const rating = document.querySelector('form[name=rating]');

        rating.addEventListener("change", function (e) {

            let data = new FormData(this);
            fetch(`${this.action}`, {
                method: 'POST',
                body: data
            })
                .then(response => Swal.fire("Спасибо за вашу оценку {{ user }}"))
                .catch(error => alert("Ошибка"))
        });


        // Add comment
        const comment = document.querySelector('form[name=comment]');

        comment.addEventListener("change", function (e) {
            let data = new FormData(this);
            fetch(`${this.action}`, {
                method: 'POST',
                body: data
            })
                .then(response => Swal.fire("Спасибо за ваш комментарий {{ user }}. Он будет опубликован, если пройдет модерацию"))
                .catch(error => alert("Ошибка"))
        });


    </script>
{% endblock %}
